@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 300;
    src: local(''),
          url('/fonts/OpenSans-Light-subset.woff2') format('woff2'), 
          url('/fonts/OpenSans-Light-subset.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
          url('/fonts/OpenSans-Regular-subset.woff2') format('woff2'), 
          url('/fonts/OpenSans-Regular-subset.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
          url('/fonts/OpenSans-SemiBold-subset.woff2') format('woff2'), 
          url('/fonts/OpenSans-SemiBold-subset.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
          url('/fonts/OpenSans-Bold-subset.woff2') format('woff2'), 
          url('/fonts/OpenSans-Bold-subset.woff') format('woff');
}

$font-family-sans-serif: 'OpenSans', sans-serif;
$spacer: 1.5rem;
$light: #E7E7E7;
$dark: #2A2A2A;
$info: #C5247F;
$pd-btn-min-width: 260px;

@import "bootstrap/bootstrap";

@import "openflexure/utils";
@import "openflexure/navigation";
@import "openflexure/heroes";
@import "openflexure/cards";
@import "openflexure/grid";
@import "openflexure/galleries";
@import "openflexure/sections";
@import "openflexure/logo-strips";
@import "openflexure/sliders";
@import "openflexure/footer";
@import "openflexure/modals";
@import "openflexure/text";
@import "openflexure/banners";

@import "hamburgers/hamburgers";

