<section class="pd-cards-20 pd-padding-bottom-lg pd-padding-top-lg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pd-cards-20-grid-outer">
                    <div class="pd-cards-20-card-outer">
                        <div class="pd-cards-20-card-img-outer">
                            <picture>
                                <source srcset="/images/uploads/profile-man-sq_result.webp" type="image/webp">
                                <img src="/images/uploads/profile-man-sq.jpg" alt="image of man at work" width="292" height="280" loading="lazy">
                            </picture>
                        </div>
                        <header class="pd-cards-20-card-body">
                            <h2>David Jones</h2>
                            <p>Developer</p>
                        </header>
                        <footer class="align-items-center d-flex flex-row justify-content-between">
                            <a target="_blank" href="#" name="anchor" class="pd-text-link">View Bio</a>
                            <a target="_blank" href="#" name="anchor" class="pd-icon-link">
                                <img src="images/design-assets/icon-linkedin-share.svg" alt="linkedin icon" loading="lazy" width="28" height="28">
                            </a>
                        </footer>
                    </div>
                    <div class="pd-cards-20-card-outer">
                        <div class="pd-cards-20-card-img-outer">
                            <picture>
                                <source srcset="/images/uploads/profile-woman-2-sq_result.webp" type="image/webp">
                                <img src="/images/uploads/profile-woman-2-sq.jpg" alt="image of woman at work" width="292" height="280" loading="lazy">
                            </picture>
                        </div>
                        <header class="pd-cards-20-card-body">
                            <h2>Jen Davids</h2>
                            <p>Developer</p>
                        </header>
                        <footer class="align-items-center d-flex flex-row justify-content-between">
                            <a target="_blank" href="#" name="anchor" class="pd-text-link">View Bio</a>
                            <a target="_blank" href="#" name="anchor" class="pd-icon-link">
                                <img src="images/design-assets/icon-linkedin-share.svg" alt="linkedin icon" loading="lazy" width="28" height="28">
                            </a>
                        </footer>
                    </div>
                    <div class="pd-cards-20-card-outer">
                        <div class="pd-cards-20-card-img-outer">
                            <picture>
                                <source srcset="/images/uploads/profile-woman-sq_result.webp" type="image/webp">
                                <img src="/images/uploads/profile-woman-sq.jpg" alt="image of woman at work" width="292" height="280" loading="lazy">
                            </picture>
                        </div>
                        <header class="pd-cards-20-card-body">
                            <h2>Alice Goodchild</h2>
                            <p>Project Manager</p>
                        </header>
                        <footer class="align-items-center d-flex flex-row justify-content-between">
                            <a target="_blank" href="#" name="anchor" class="pd-text-link">View Bio</a>
                            <a target="_blank" href="#" name="anchor" class="pd-icon-link">
                                <img src="images/design-assets/icon-linkedin-share.svg" alt="linkedin icon" loading="lazy" width="28" height="28">
                            </a>
                        </footer>
                    </div>
                    <div class="pd-cards-20-card-outer">
                        <div class="pd-cards-20-card-img-outer">
                            <picture>
                                <source srcset="/images/uploads/profile-man-2-sq_result.webp" type="image/webp">
                                <img src="/images/uploads/profile-man-2-sq.jpg" alt="image of woman at work" width="292" height="280" loading="lazy">
                            </picture>
                        </div>
                        <header class="pd-cards-20-card-body">
                            <h2>Ben Wilkes</h2>
                            <p>Project Manager</p>
                        </header>
                        <footer class="align-items-center d-flex flex-row justify-content-between">
                            <a target="_blank" href="#" name="anchor" class="pd-text-link">View Bio</a>
                            <a target="_blank" href="#" name="anchor" class="pd-icon-link">
                                <img src="images/design-assets/icon-linkedin-share.svg" alt="linkedin icon" loading="lazy" width="28" height="28">
                            </a>
                        </footer>
                    </div>
                    <div class="pd-cards-20-card-outer">
                        <div class="pd-cards-20-card-img-outer">
                            <picture>
                                <source srcset="/images/uploads/profile-man-3-sq_result.webp" type="image/webp">
                                <img src="/images/uploads/profile-man-3-sq.jpg" alt="image of woman at work" width="292" height="280" loading="lazy">
                            </picture>
                        </div>
                        <header class="pd-cards-20-card-body">
                            <h2>Christopher Davidson</h2>
                            <p>PhD Student</p>
                        </header>
                        <footer class="align-items-center d-flex flex-row justify-content-between">
                            <a target="_blank" href="#" name="anchor" class="pd-text-link">View Bio</a>
                            <a target="_blank" href="#" name="anchor" class="pd-icon-link">
                                <img src="images/design-assets/icon-linkedin-share.svg" alt="linkedin icon" loading="lazy" width="28" height="28">
                            </a>
                        </footer>
                    </div>
                </div>                         
            </div>
        </div>
    </div>
</section>