<footer class="pd-footer-4 pd-padding-top-lg text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 pb-4 pb-lg-0 text-center text-lg-start">
                <a href="#" name="anchor" class="d-inline-block pd-outline-dark">
                    <img alt="logo OpenFlexure" loading="lazy" class="" src="images/design-assets/logo-openflexure-project-wo.svg" width="240" height="60"/>
                </a> 
            </div>
            <div class="col-12 col-lg-8">
                <div class="pb-lg-4 pd-footer-4-stmt-outer">
                    <header class="pb-2">
                        <p><em>The OpenFlexure project</em> aims to make high precision mechanical positioning available to anyone with a 3D printer - for use in microscopes, micromanipulators, and more.</p>
                    </header>
                    <footer>
                        <h2>Useful Project Links:</h2>
                        <div class="pd-footer-4-link-outer">
                            <a href="#" name="anchor" class="pd-outline-dark">University of Bath</a>
                            <a href="#" name="anchor" class="pd-outline-dark">Other Link 2</a>
                            <a href="#" name="anchor" class="pd-outline-dark">Other Link 3</a>
                        </div>
                    </footer>
                </div>
                <div class="pb-lg-4 pd-footer-4-grid">
                    <a href="#" class="pd-footer-4-grid-card pd-outline-dark">
                        <div class="pd-footer-4-grid-card-left-col">
                            <img src="images/design-assets/discourse-simple.svg" alt="discourse logo" width="40" height="40" loading="lazy">
                        </div>
                        <div class="pd-footer-4-grid-card-right-col">
                            <h2>Forum</h2>
                            <p>Raesent iaculis nibh tortor, rhoncus.</p>
                        </div>
                    </a>
                    <a href="#" class="pd-footer-4-grid-card pd-outline-dark">
                        <div class="pd-footer-4-grid-card-left-col">
                            <img alt="gitlab logo" width="40" height="40" loading="lazy" src="images/design-assets/gitlab-logo-500-no-margin.svg">
                        </div>
                        <div class="pd-footer-4-grid-card-right-col">
                            <h2>GitLab Repo</h2>
                            <p>Cras justo odio, dapibus ac facilisis in.</p>
                        </div>
                    </a>
                    <a href="#" class="pd-footer-4-grid-card pd-outline-dark">
                        <div class="pd-footer-4-grid-card-left-col">
                            <img alt="bluesky logo" width="40" height="40" loading="lazy" src="images/design-assets/bluesky-logo.svg">
                        </div>
                        <div class="pd-footer-4-grid-card-right-col">
                            <h2>Bluesky</h2>
                            <p>Nulla vitae turpis porttitor, blandit.</p>
                        </div>
                    </a>
                    <a href="#" class="pd-footer-4-grid-card pd-outline-dark">
                        <div class="pd-footer-4-grid-card-left-col">
                            <img alt="LinkedIn logo" width="40" height="40" loading="lazy" src="images/design-assets/icon-linkedin-share.svg">
                        </div>
                        <div class="pd-footer-4-grid-card-right-col">
                            <h2>LinkedIn</h2>
                            <p>Consectetur risus congue non.</p>
                        </div>
                    </a>
                    <a href="#" class="pd-footer-4-grid-card pd-outline-dark">
                        <div class="pd-footer-4-grid-card-left-col">
                            <img alt="YouTube Logo" width="40" height="40" loading="lazy" src="images/design-assets/icons8-youtube.svg">
                        </div>
                        <div class="pd-footer-4-grid-card-right-col">
                            <h2>YouTube</h2>
                            <p>Etiam volutpat leo quis consequat.</p>
                        </div>
                    </a>
                    <a href="#" class="pd-footer-4-grid-card pd-outline-dark">
                        <div class="pd-footer-4-grid-card-left-col">
                            <img alt="contact icon" width="40" height="40" loading="lazy" src="images/design-assets/_openflexure/chat_bubble_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg">
                        </div>
                        <div class="pd-footer-4-grid-card-right-col">
                            <h2>Contact</h2>
                            <p>Etiam volutpat leo quis consequat.</p>
                        </div>
                    </a>
                </div>                         
            </div>
        </div>
        <div class="pb-4 row">
            <div class="col-12">
                <div class="pd-divider"></div>                         
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 pb-4 pb-md-0 text-center text-lg-start">
                <p class="pd-footer-txt">2025&copy; OpenFlexure. All Rights Reserved.</p> 
            </div>
            <div class="col-lg-6 text-center text-lg-end">
                <a href="#" class="me-2 pd-footer-link pd-outline-dark">Privacy Policy</a>
                <a href="#" class="pd-footer-link pd-outline-dark">Terms of Use</a> 
            </div>
        </div>
    </div>
</footer>