        <section class="pd-cards-14 pd-padding-bottom-lg pd-padding-top-lg text-primary">
            <div class="container">
                <div class="pb-3 row">
                    <div class="col-12 col-lg-9">
                        <header>
                            <div class="align-items-center d-flex flex-row justify-content-start pb-2">
                                <svg class="pd-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#c5247f">
                                    <path d="M320-603.85q15.08 0 25.62-10.53 10.53-10.54 10.53-25.62 0-15.08-10.53-25.62-10.54-10.53-25.62-10.53-15.08 0-25.62 10.53-10.53 10.54-10.53 25.62 0 15.08 10.53 25.62 10.54 10.53 25.62 10.53Zm0 160q15.08 0 25.62-10.53 10.53-10.54 10.53-25.62 0-15.08-10.53-25.62-10.54-10.53-25.62-10.53-15.08 0-25.62 10.53-10.53 10.54-10.53 25.62 0 15.08 10.53 25.62 10.54 10.53 25.62 10.53Zm0 160q15.08 0 25.62-10.53 10.53-10.54 10.53-25.62 0-15.08-10.53-25.62-10.54-10.53-25.62-10.53-15.08 0-25.62 10.53-10.53 10.54-10.53 25.62 0 15.08 10.53 25.62 10.54 10.53 25.62 10.53ZM212.31-140Q182-140 161-161q-21-21-21-51.31v-535.38Q140-778 161-799q21-21 51.31-21h419.23L820-631.54v419.23Q820-182 799-161q-21 21-51.31 21H212.31Zm0-60h535.38q5.39 0 8.85-3.46t3.46-8.85V-600H600v-160H212.31q-5.39 0-8.85 3.46t-3.46 8.85v535.38q0 5.39 3.46 8.85t8.85 3.46ZM200-760v160-160V-200v-560Z"/>
                                </svg>
                                <h2 class="pd-intro- pd-intro-heading-sm">Summary</h2>
                            </div>
                            <p class="pd-headline">Lorem Ipsum</p>
                        </header>
                        <div>
                            <p class="pd-subHeadline">The OpenFlexure Microscope is an open-source, 3D printed, high-performance robotic microscope that is being built and used across the world by our global community.</p>
                        </div>                         
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 d-flex">
                        <div class="pd-cards-14-card-outer">
                            <header>
                                <div class="pd-icon-outer">
                                    <svg class="pd-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#c5247f">
                                        <path d="m553.85-253.85-42.16-43.38L664.46-450H180v-60h484.46L511.69-662.77l42.16-43.38L780-480 553.85-253.85Z"/>
                                    </svg>
                                </div>
                                <h3>Consectetur Risus Congue</h3>
                            </header>
                            <div class="pd-cards-14-card-body">
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                            <footer class="pd-cards-14-card-footer"><a href="#" name="anchor" class="pd-link-light">View Optional Link</a>
                            </footer>
                        </div>                         
                    </div>
                    <div class="col-lg-6 d-flex">
                        <div class="pd-cards-14-card-outer">
                            <header>
                                <div class="pd-icon-outer">
                                    <svg class="pd-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#c5247f">
                                        <path d="m553.85-253.85-42.16-43.38L664.46-450H180v-60h484.46L511.69-662.77l42.16-43.38L780-480 553.85-253.85Z"/>
                                    </svg>
                                </div>
                                <h3>Cras Vel Ligula</h3>
                            </header>
                            <div class="pd-cards-14-card-body">
                                <p>Proin ullamcorper eros quam, a tincidunt ipsum tempus quis. Mauris nisl lectus, condimentum rhoncus interdum ut, placerat ac enim. Nullam vel consequat neque, et mollis ipsum. Vestibulum non luctus magna.&nbsp;</p>
                            </div>
                            <footer class="pd-cards-14-card-footer"><a href="#" name="anchor" class="pd-link-light">View Optional Link</a>
                            </footer>
                        </div>                         
                    </div>
                    <div class="col-lg-6 d-flex">
                        <div class="pd-cards-14-card-outer">
                            <header>
                                <div class="pd-icon-outer">
                                    <svg class="pd-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#c5247f">
                                        <path d="m553.85-253.85-42.16-43.38L664.46-450H180v-60h484.46L511.69-662.77l42.16-43.38L780-480 553.85-253.85Z"/>
                                    </svg>
                                </div>
                                <h3>Donec Eleifend</h3>
                            </header>
                            <div class="pd-cards-14-card-body">
                                <p>Mauris fringilla gravida nisl, a laoreet turpis convallis quis. Ut placerat mi in quam vehicula, sit amet accumsan leo varius. Nunc sagittis, arcu sagittis fermentum porttitor, lectus quam tincidunt justo.</p>
                            </div>
                            <footer class="pd-cards-14-card-footer"><a href="#" name="anchor" class="pd-link-light">View Optional Link</a>
                            </footer>
                        </div>                         
                    </div>
                    <div class="col-lg-6 d-flex">
                        <div class="pd-cards-14-card-outer">
                            <header>
                                <div class="pd-icon-outer">
                                    <svg class="pd-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#c5247f">
                                        <path d="m553.85-253.85-42.16-43.38L664.46-450H180v-60h484.46L511.69-662.77l42.16-43.38L780-480 553.85-253.85Z"/>
                                    </svg>
                                </div>
                                <h3>Mi Porta Gravida</h3>
                            </header>
                            <div class="pd-cards-14-card-body">
                                <p>Sed tincidunt mattis elit vel vestibulum. Proin sit amet lorem mattis elit scelerisque sagittis. Etiam aliquam leo nec vestibulum condimentum. Proin efficitur a quam vitae vestibulum. Cras erat nisl, lacinia sit amet ipsum ac, dignissim tincidunt augue.</p>
                            </div>
                            <footer class="pd-cards-14-card-footer"><a href="#" name="anchor" class="pd-link-light">View Optional Link</a>
                            </footer>
                        </div>                         
                    </div>
                </div>
            </div>
            <div class="pd-brand-side">
                <img src="images/design-assets/logo_openflexure_emblem_pink.svg" alt="openflexure emblem" width="80" loading="lazy" height="50">
            </div>
        </section>