        <section class="pd-cards-17 pd-padding-bottom-lg pd-padding-top-lg">
            <div class="pd-cards-17-background-img-outer">
                <figure>
                    <picture>
                        <source srcset="/images/uploads/hero-unsplash-insect_result.webp 1800w, 
                                /images/uploads/hero-unsplash-insect_result_mob.webp 820w" sizes="(max-width: 600px) 100vw, 1800px" type="image/webp"/>
                        <img srcset="/images/uploads/hero-unsplash-insect_result.jpg 1800w,
                            /images/uploads/hero-unsplash-insect_result_mob.jpg 820w" sizes="(max-width: 600px) 100vw, 1800px" src="/images/uploads/hero-unsplash-insect_result.jpg" class="pd-hero-16-img" onload="imageLoadedListener16()" loading="lazy" alt="image of ants head" width="1265" height="1659"/>
                    </picture>
                    <figcaption>
                        <div class="d-block d-lg-none">[ <em>Image: </em>Ant's head', <em>Source: </em>OpenFlexure Microscope]
                        </div>
                        <div class="d-lg-block d-none">[ <em>Image: </em>Ant's head', <em>Source: </em>OpenFlexure Microscope,&nbsp;<em>Magnification: </em>40x,&nbsp;<em>Lighting: </em>Brightfield Illumination]
                        </div>
                    </figcaption>                     
                </figure>
                <div data-empty-placeholder class="pd-cards-17-img-overlay"></div>
            </div>
            <div class="container pd-cards-17-content-outer">
                <div class="pb-4 row">
                    <div class="col-12 col-lg-7">
                        <header>
                            <div class="align-items-center d-flex flex-row justify-content-start pb-2">
                                <svg class="pd-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#555555">
                                    <path d="M355.08-140H200q-24.92 0-42.46-17.54T140-200v-155.08q41.08-5 70.54-34.15Q240-418.39 240-460t-29.46-70.77q-29.46-29.15-70.54-34.15V-720q0-24.92 17.54-42.46T200-780h160q5.39-38.15 33.42-62.92 28.04-24.77 66.58-24.77t66.58 24.77Q554.61-818.15 560-780h160q24.92 0 42.46 17.54T780-720v160q38.15 5.39 62.92 33.42 24.77 28.04 24.77 66.58t-24.77 66.58Q818.15-365.39 780-360v160q0 24.92-17.54 42.46T720-140H564.92q-5.38-43.08-35.15-71.54Q500-240 460-240t-69.77 28.46q-29.77 28.46-35.15 71.54ZM200-200h108.46q20.54-52.92 64.89-76.46Q417.69-300 460-300t86.65 23.54Q591-252.92 611.54-200H720v-217.69h49.23q18.38-2.31 28.42-14.85 10.04-12.54 10.04-27.46 0-14.92-10.04-27.46-10.04-12.54-28.42-14.85H720V-720H502.31v-49.23q-2.31-18.38-14.85-28.42-12.54-10.04-27.46-10.04-14.92 0-27.46 10.04-12.54 10.04-14.85 28.42V-720H200v109.54q45.54 18.85 72.77 59.88Q300-509.54 300-460q0 48.92-27.23 89.96Q245.54-329 200-309.54V-200Zm260-260Z"/>
                                </svg>
                                <h2 class="pd-intro- pd-intro-heading-sm">Open-Source Microscope</h2>
                            </div>
                            <p class="pd-headline">Customisable - Adapt and Extend</p>
                        </header>
                        <div>
                            <p class="pd-subHeadline">Etiam pharetra pulvinar erat, vel consectetur risus congue non. Etiam volutpat leo quis consequat condimentum.</p>
                        </div>                         
                    </div>
                </div>
                <div class="pb-4 row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6 d-flex  pb-3">
                                <article class="pd-cards-17-card-outer">
                                    <div class="pd-cards-17-card-img-outer">
                                        <picture>
                                            <source srcset="images/uploads/hero-code_result.webp" type="image/webp">
                                            <img src="images/uploads/hero-code_result.jpg" alt="python code on screen" width="361" height="200" loading="lazy">
                                        </picture>
                                    </div>
                                    <div class="pd-cards-17-card-body-outer">
                                        <header>
                                            <h3>Open Source</h3>
                                        </header>
                                        <div class="pd-cards-17-card-text-outer">
                                            <p>Donec accumsan fringilla purus sit amet semper. Praesent iaculis nibh tortor.</p>
                                        </div>
                                        <footer><a href="#" name="anchor" class="pd-link-dark pd-outline-dark">Explore Python</a><a href="#" name="anchor" class="pd-link-dark pd-outline-dark">Explore Blockly</a><a href="#" name="anchor" class="pd-link-dark pd-outline-dark">Explore Matlab</a>
                                        </footer>
                                    </div>
                                </article>                                 
                            </div>
                            <div class="col-md-6 d-flex  pb-3">
                                <article class="pd-cards-17-card-outer">
                                    <div class="pd-cards-17-card-img-outer">
                                        <picture>
                                            <source srcset="images/uploads/microscope_v7_result.webp" type="image/webp">
                                            <img src="images/uploads/microscope_v7_result.jpg" alt="openflexure microscope" width="361" height="200" loading="lazy">
                                        </picture>
                                    </div>
                                    <div class="pd-cards-17-card-body-outer">
                                        <header>
                                            <h3>Software Extensions</h3>
                                        </header>
                                        <div class="pd-cards-17-card-text-outer">
                                            <p>Donec accumsan fringilla purus sit amet semper.&nbsp;</p>
                                        </div>
                                        <footer><a href="#" name="anchor" class="pd-link-dark pd-outline-dark">Finding Extensions</a><a href="#" name="anchor" class="pd-link-dark pd-outline-dark">Developing Extensions</a>
                                        </footer>
                                    </div>
                                </article>                                 
                            </div>
                            <div class="col-md-6 d-flex  pb-3">
                                <article class="pd-cards-17-card-outer">
                                    <div class="pd-cards-17-card-img-outer">
                                        <picture>
                                            <source srcset="images/uploads/delta-stage_result.webp" type="image/webp">
                                            <img src="images/uploads/delta-stage_result.jpg" width="361" height="200" loading="lazy" alt="microscope base">
                                        </picture>
                                    </div>
                                    <div class="pd-cards-17-card-body-outer">
                                        <header>
                                            <h3>Delta Stage</h3>
                                        </header>
                                        <div class="pd-cards-17-card-text-outer">
                                            <p>Donec accumsan fringilla purus sit amet semper.&nbsp;</p>
                                        </div>
                                        <footer><a href="#" name="anchor" class="pd-link-dark pd-outline-dark">Explore Delta</a>
                                        </footer>
                                    </div>
                                </article>                                 
                            </div>
                            <div class="col-md-6 d-flex  pb-3">
                                <article class="pd-cards-17-card-outer">
                                    <div class="pd-cards-17-card-img-outer">
                                        <picture>
                                            <source srcset="images/uploads/block-stage_result.webp" type="image/webp">
                                            <img src="images/uploads/block-stage_result.jpg" width="361" height="200" loading="lazy" alt="block stage base">
                                        </picture>
                                    </div>
                                    <div class="pd-cards-17-card-body-outer">
                                        <header>
                                            <h3>Block Stage</h3>
                                        </header>
                                        <div class="pd-cards-17-card-text-outer">
                                            <p>Donec accumsan fringilla purus sit amet semper.&nbsp;</p>
                                        </div>
                                        <footer><a href="#" name="anchor" class="pd-link-dark pd-outline-dark">Explore Block</a>
                                        </footer>
                                    </div>
                                </article>                                 
                            </div>
                        </div>                         
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pd-cards-17-grid">
                            <div class="pd-cards-17-grid-card"><a href="#" name="anchor"><img src="images/design-assets/logo-raspberry-pi.svg" alt="raspberyy pi icon" width="100" height="60" loading="lazy"></a>
                            </div>
                            <div class="pd-cards-17-grid-card"><a href="#" name="anchor"><img alt="python logo" width="100" height="60" src="images/design-assets/logo-python.svg" loading="lazy"></a>
                            </div>
                            <div class="pd-cards-17-grid-card"><a name="anchor" href="#"><img alt="gitlab logo" width="100" height="60" src="images/design-assets/logo-gitlab.svg" loading="lazy"></a>
                            </div>
                            <div class="pd-cards-17-grid-card">
                                <a name="anchor" href="#"><img alt="blockly logo" width="100" height="60" src="images/design-assets/logo-blockly.svg" loading="lazy"></a>
                            </div>
                            <div class="pd-cards-17-grid-card">
                                <a name="anchor" href="#"><img alt="blockly logo" width="100" height="60" src="images/design-assets/logo-blockly.svg" loading="lazy"></a>
                            </div>
                            <div class="pd-cards-17-grid-card"><a name="anchor" href="#"><img alt="gitlab logo" width="100" height="60" src="images/design-assets/logo-gitlab.svg" loading="lazy"></a>
                            </div>
                            <div class="pd-cards-17-grid-card"><a href="#" name="anchor"><img alt="python logo" width="100" height="60" src="images/design-assets/logo-python.svg" loading="lazy"></a>
                            </div>
                            <div class="pd-cards-17-grid-card"><a href="#" name="anchor"><img src="images/design-assets/logo-raspberry-pi.svg" alt="raspberyy pi icon" width="100" height="60" loading="lazy"></a>
                            </div>
                        </div>                         
                    </div>
                </div>
            </div>
            <div class="pd-brand-side">
                <img src="images/design-assets/logo_openflexure_emblem.svg" alt="openflexure emblem" width="80" loading="lazy" height="50">
            </div>
        </section>