        <section class="pd-cards-19 pd-padding-bottom-lg pd-padding-top-lg">
            <div class="container">
                <div class="pb-3 row">
                    <div class="col-12 col-lg-9">
                        <header>
                            <div class="align-items-center d-flex flex-row justify-content-start pb-2">
                                <svg class="pd-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#c5247f">
                                    <path d="M320-603.85q15.08 0 25.62-10.53 10.53-10.54 10.53-25.62 0-15.08-10.53-25.62-10.54-10.53-25.62-10.53-15.08 0-25.62 10.53-10.53 10.54-10.53 25.62 0 15.08 10.53 25.62 10.54 10.53 25.62 10.53Zm0 160q15.08 0 25.62-10.53 10.53-10.54 10.53-25.62 0-15.08-10.53-25.62-10.54-10.53-25.62-10.53-15.08 0-25.62 10.53-10.53 10.54-10.53 25.62 0 15.08 10.53 25.62 10.54 10.53 25.62 10.53Zm0 160q15.08 0 25.62-10.53 10.53-10.54 10.53-25.62 0-15.08-10.53-25.62-10.54-10.53-25.62-10.53-15.08 0-25.62 10.53-10.53 10.54-10.53 25.62 0 15.08 10.53 25.62 10.54 10.53 25.62 10.53ZM212.31-140Q182-140 161-161q-21-21-21-51.31v-535.38Q140-778 161-799q21-21 51.31-21h419.23L820-631.54v419.23Q820-182 799-161q-21 21-51.31 21H212.31Zm0-60h535.38q5.39 0 8.85-3.46t3.46-8.85V-600H600v-160H212.31q-5.39 0-8.85 3.46t-3.46 8.85v535.38q0 5.39 3.46 8.85t8.85 3.46ZM200-760v160-160V-200v-560Z"/>
                                </svg>
                                <h2 class="pd-intro- pd-intro-heading-sm">Summary</h2>
                            </div>
                            <p class="pd-headline">Lorem Ipsum</p>
                        </header>
                        <div>
                            <p class="pd-subHeadline">The OpenFlexure Microscope is an open-source, 3D printed, high-performance robotic microscope that is being built and used across the world by our global community.</p>
                        </div>                         
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pd-cards-19-grid-outer">
                            <div class="pd-grid-card-sm">
                                <div class="pd-grid-card-sm-outer">
                                    <header>
                                        <h3>Mauris Laoreet</h3>
                                    </header>
                                    <div>
                                        <p>Dapibus commodo enim, eget malesuada ante tristique.</p>
                                    </div>
                                    <footer><a href="#" name="anchor" class="pd-link-light">View</a>
                                    </footer>
                                </div>
                            </div>
                            <div class="pd-grid-card-sm">
                                <div class="pd-grid-card-sm-outer">
                                    <header>
                                        <h3>Pretium Ipsum Bibendum</h3>
                                    </header>
                                    <div>
                                        <p>Mauris fringilla gravida nisl, a laoreet turpis convallis quis.&nbsp;</p>
                                    </div>
                                    <footer><a href="#" name="anchor" class="pd-link-light">View</a>
                                    </footer>
                                </div>
                            </div>
                            <div class="pd-grid-card-sm">
                                <div class="pd-grid-card-sm-outer">
                                    <header>
                                        <h3>Class Aptent</h3>
                                    </header>
                                    <div>
                                        <p>Praesent vestibulum bibendum suscipit. Nulla facilisi. Vivamus facilisis, arcu ac auctor lobortis.</p>
                                    </div>
                                    <footer><a href="#" name="anchor" class="pd-link-light">View</a>
                                    </footer>
                                </div>
                            </div>
                            <div class="pd-grid-card-sm">
                                <div class="pd-grid-card-sm-outer">
                                    <header>
                                        <h3>Aliquet Interdum</h3>
                                    </header>
                                    <div>
                                        <p>Aenean a mauris id nisi mollis dapibus sit amet vel nisl.</p>
                                    </div>
                                    <footer><a href="#" name="anchor" class="pd-link-light">View</a>
                                    </footer>
                                </div>
                            </div>
                            <div class="pd-grid-card-sm">
                                <div class="pd-grid-card-sm-outer">
                                    <header>
                                        <h3>Mauris Massa Leo</h3>
                                    </header>
                                    <div>
                                        <p>Integer non est convallis, mattis neque id, varius eros. Vestibulum sed iaculis ligula.&nbsp;</p>
                                    </div>
                                    <footer><a href="#" name="anchor" class="pd-link-light">View</a>
                                    </footer>
                                </div>
                            </div>
                            <div class="pd-grid-card-sm">
                                <div class="pd-grid-card-sm-outer">
                                    <header>
                                        <h3>Dapibus Sit Amet</h3>
                                    </header>
                                    <div>
                                        <p>Vivamus facilisis, arcu ac auctor lobortis, felis massa sodales purus.</p>
                                    </div>
                                    <footer><a href="#" name="anchor" class="pd-link-light">View</a>
                                    </footer>
                                </div>
                            </div>
                        </div>                         
                    </div>
                </div>
            </div>
            <div class="pd-brand-side">
                <img src="images/design-assets/logo_openflexure_emblem_pink.svg" alt="openflexure emblem" width="80" loading="lazy" height="50">
            </div>
        </section>