        <section class="pd-grid-5">
            <div class="container">
                <div class="row">
                    <header class="col-12 col-lg-3 pb-3 pb-lg-0">
                        <div class="pd-grid-5-header-card">
                            <img src="images/design-assets/logo_openflexure_emblem_pink.svg" alt="open flexure emblem" width="50" height="31" loading="lazy" class="mb-2">
                            <h2>Get Started</h2>
                            <p><em>Cras justo odio</em>, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>                         
                    </header>
                    <div class="col-12 col-lg-9">
                        <div class="pd-grid-5-grid-outer">
                            <article class="pd-grid-5-card">
                                <header>
                                    <h3>Turpis Porttitor</h3>
                                </header>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                                <footer>
                                    <a href="#" name="anchor" class="pd-link-light">Link 1</a>
                                    <a href="#" name="anchor" class="pd-link-light">Link 2</a>
                                </footer>
                            </article>
                            <article class="pd-grid-5-card">
                                <header>
                                    <h3>Capibus ac facilisis in</h3>
                                </header>
                                <p>Aliquam lobortis nisi a augue scelerisque.</p>
                                <footer><a href="#" name="anchor" class="pd-link-light">Link 1</a>
                                </footer>
                            </article>
                            <article class="pd-grid-5-card">
                                <header>
                                    <h3>Nullam id dolor id nibh ultricies vehicula</h3>
                                </header>
                                <p>Porta sit amet dictum non, tincidunt non sem.</p>
                                <footer><a href="#" name="anchor" class="pd-link-light">Link 1</a><a href="#" name="anchor" class="pd-link-light">Link 2</a><a href="#" name="anchor" class="pd-link-light">Link 3</a>
                                </footer>
                            </article>
                            <article class="pd-grid-5-card">
                                <header>
                                    <h3>Praesent iaculis nibh tortor</h3>
                                </header>
                                <p>Id elit non mi porta gravida at eget metus.</p>
                                <footer><a href="#" name="anchor" class="pd-link-light">Link 1</a><a href="#" name="anchor" class="pd-link-light">Link 2</a>
                                </footer>
                            </article>
                            <article class="pd-grid-5-card">
                                <header>
                                    <h3>Egestas eget quam</h3>
                                </header>
                                <p>Mauris fringilla gravida nisl, a laoreet turpis convallis quis.</p>
                                <footer><a href="#" name="anchor" class="pd-link-light">Link 1</a><a href="#" name="anchor" class="pd-link-light">Link 2</a><a href="#" name="anchor" class="pd-link-light">Link 3</a><a href="#" name="anchor" class="pd-link-light">Link 4</a>
                                </footer>
                            </article>
                        </div>                         
                    </div>
                </div>
            </div>
        </section>