        <section class="pd-page-header pt-4">
            <div class="container">
                <div class="pb-5 row">
                    <div class="col-12 col-lg-9">
                        <header>
                            <div class="align-items-center d-flex flex-row justify-content-start pb-2">
                                <svg class="pd-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#c5247f">
                                    <path d="M220-130v-650h323.84l16 80H780v360H536.16l-16-80H280v290h-60Zm280-430Zm86 160h134v-240H510l-16-80H280v240h290l16 80Z"/>
                                </svg>
                                <h1 class="pd-intro- pd-intro-heading-sm">Standard</h1>
                            </div>
                            <p class="pd-headline">Standard With Small Header</p>
                        </header>
                        <div>
                            <p class="pd-subHeadline">Donec accumsan fringilla purus sit amet semper. Praesent iaculis nibh tortor, rhoncus efficitur ipsum viverra ut. Quisque elit ex, tincidunt nec cursus a, malesuada vitae orci.</p>
                        </div>
                        <nav class="mt-4 pd-page-menu-outer position-relative">
                            <header class="pb-2">
                                <div class="pd-icon-outer">
                                    <svg class="pd-icon-menu" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#c5247f">
                                        <path d="m553.85-253.85-42.16-43.38L664.46-450H180v-60h484.46L511.69-662.77l42.16-43.38L780-480 553.85-253.85Z"/>
                                    </svg>
                                </div>
                                <p>Page Menu:</p>
                            </header>
                            <ul>
                                <li>
                                    <a href="#heading2">Heading 2</a>
                                </li>
                                <li>
                                    <a href="#heading3">Heading 3</a>
                                </li>
                                <li><a href="#heading4">Heading 4</a>
                                </li>
                            </ul>
                            <div class="pd-page-menu-branding">
                                <img src="images/design-assets/logo_openflexure_emblem_pink.svg" alt="openflexure icon" width="60" height="37" loading="lazy">
                            </div>
                        </nav>                         
                    </div>
                </div>
            </div>
        </section>