<header id="headerTop">
    <div class="pd-content-cover" id="contentOverlay"></div>
    <div class="bg-success-subtle container-xl position-relative">
        <div class="row">
            <div class="col-auto">
                <a class="pd-mega-menu-logo" href="/" name="anchor">
                    <img src="images/design-assets/logo-openflexure-project.svg" alt="OpenFlexure Logo" height="50" class="mb-2 mt-2" width="200">
                </a> 
            </div>
            <div class="col">
                <nav class="pd-mega-menu-outer">
                    <div class="pd-mega-menu-hamburger">
                        <button id="navBtn" class="hamburger hamburger--collapse" type="button" aria-label="nav menu button">
                            <span class="hamburger-box"> <span class="hamburger-inner"></span> </span>
                        </button>
                    </div>
                    <div class="pd-mega-menu-drawer" id="navDraw" role="navigation">
                        <ul class="pd-mega-menu-menu">
                            <li class="pd-mega-menu-nav-item">
                                <button class="pd-mega-menu-sub-toggle" aria-expanded="false">
                                    Microscope
                                    <span> 
                                        <svg width="12" height="12" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
                                            <path d="M8.25 4.5l7.5 7.5-7.5 7.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg> 
                                    </span>
                                </button>
                                <div class="pd-mega-menu-sub-menu">
                                    <div class="pd-mega-menu-sub-menu-row">
                                        <div class="pd-mega-menu-sub-menu-col">
                                            <header><strong>Category 1</strong></header>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/biotech_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 1</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img alt="icon" width="24" height="24" loading="lazy" src="images/design-assets/_nav-menu/neurology_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 2</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/orbit_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 3</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/function_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 4</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/dns_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 5</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="pd-mega-menu-sub-menu-col">
                                            <header><strong>Category 2</strong></header>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/hard_drive_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 1</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img alt="icon" width="24" height="24" loading="lazy" src="images/design-assets/_nav-menu/memory_alt_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 2</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/biotech_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 3</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img alt="icon" width="24" height="24" loading="lazy" src="images/design-assets/_nav-menu/neurology_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 4</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/orbit_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 5</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="pd-mega-menu-sub-menu-col">
                                            <header><strong>Category 3</strong></header>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/function_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 1</strong> 
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img alt="icon" width="24" height="24" loading="lazy" src="images/design-assets/_nav-menu/dns_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 2</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/router_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 3</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/hard_drive_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 4</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/biotech_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 5</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/neurology_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 6</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="pd-mega-menu-nav-item">
                                <button class="pd-mega-menu-sub-toggle" aria-expanded="false">
                                    Community
                                    <span> 
                                        <svg width="12" height="12" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
                                            <path d="M8.25 4.5l7.5 7.5-7.5 7.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg> 
                                    </span>
                                </button>
                                <div class="pd-mega-menu-sub-menu">
                                    <div class="pd-mega-menu-sub-menu-row">
                                        <div class="pd-mega-menu-sub-menu-col">
                                            <header><strong>Category 1</strong></header>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/biotech_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 1</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img alt="icon" width="24" height="24" loading="lazy" src="images/design-assets/_nav-menu/neurology_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 2</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/orbit_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 3</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/function_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 4</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/dns_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 5</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="pd-mega-menu-sub-menu-col">
                                            <header><strong>Category 2</strong></header>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/hard_drive_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 1</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img alt="icon" width="24" height="24" loading="lazy" src="images/design-assets/_nav-menu/memory_alt_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 2</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/biotech_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 3</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img alt="icon" width="24" height="24" loading="lazy" src="images/design-assets/_nav-menu/neurology_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 4</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/orbit_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 5</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="pd-mega-menu-sub-menu-col">
                                            <header><strong>Category 3</strong></header>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/function_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 1</strong> 
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img alt="icon" width="24" height="24" loading="lazy" src="images/design-assets/_nav-menu/dns_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 2</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/router_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 3</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/hard_drive_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 4</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/biotech_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 5</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/neurology_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 6</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="pd-mega-menu-nav-item">
                                <button class="pd-mega-menu-sub-toggle" aria-expanded="false">
                                    About
                                    <span> 
                                        <svg width="12" height="12" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
                                            <path d="M8.25 4.5l7.5 7.5-7.5 7.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg> 
                                    </span>
                                </button>
                                <div class="pd-mega-menu-sub-menu">
                                    <div class="pd-mega-menu-sub-menu-row">
                                        <div class="pd-mega-menu-sub-menu-col">
                                            <header><strong>Category 1</strong></header>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/biotech_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 1</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img alt="icon" width="24" height="24" loading="lazy" src="images/design-assets/_nav-menu/neurology_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 2</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/orbit_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 3</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/function_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 4</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/dns_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 5</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="pd-mega-menu-sub-menu-col">
                                            <header><strong>Category 2</strong></header>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/hard_drive_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 1</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img alt="icon" width="24" height="24" loading="lazy" src="images/design-assets/_nav-menu/memory_alt_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 2</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/biotech_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 3</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img alt="icon" width="24" height="24" loading="lazy" src="images/design-assets/_nav-menu/neurology_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 4</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/orbit_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 5</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="pd-mega-menu-sub-menu-col">
                                            <header><strong>Category 3</strong></header>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/function_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 1</strong> 
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img alt="icon" width="24" height="24" loading="lazy" src="images/design-assets/_nav-menu/dns_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 2</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/router_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 3</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/hard_drive_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 4</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/biotech_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 5</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                            <a href="#" name="anchor" class="pd-mega-menu-sub-menu-nav-item">
                                                <div class="pd-mega-menu-sub-menu-icon-outer">
                                                    <img src="images/design-assets/_nav-menu/neurology_24dp_C5247F_FILL0_wght300_GRAD0_opsz24.svg" alt="icon" width="24" height="24" loading="lazy">
                                                </div>
                                                <div class="pd-mega-menu-sub-menu-label-outer">
                                                    <strong>Link 6</strong>
                                                    <p>Lorem ipsum bit duam</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="pd-mega-menu-nav-item">
                                <a href="#" name="anchor">
                                    <img alt="gitlab icon" width="30" height="30" src="images/design-assets/gitlab-logo-500-no-margin.svg">
                                </a>
                            </li>
                            <li class="pd-mega-menu-nav-item pd-mega-menu-nav-item-btn-sec">
                                <a href="#" name="anchor">
                                    <span>
                                        <svg class="pd-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#c5247f">
                                            <path d="M852.31-133.85 710.77-275.39H320q-29.19 0-49.98-20.79-20.79-20.78-20.79-49.98v-24.61h435.39q29.82 0 51.06-21.24 21.24-21.24 21.24-51.07V-720h24.62q29.19 0 49.98 20.79 20.79 20.79 20.79 49.98v515.38Zm-684.62-320.3 56.62-56.62h380.31q5.38 0 8.84-3.46t3.46-8.85v-264.61q0-5.39-3.46-8.85t-8.84-3.46H180q-5.38 0-8.85 3.46-3.46 3.46-3.46 8.85v333.54Zm-60 144.92v-478.46q0-29.83 21.24-51.07Q150.17-860 180-860h424.62q29.82 0 51.06 21.24 21.24 21.24 21.24 51.07v264.61q0 29.83-21.24 51.07-21.24 21.24-51.06 21.24H249.23L107.69-309.23Zm60-213.85V-800v276.92Z"/>
                                        </svg>
                                    </span>
                                    Forum
                                </a>
                            </li>
                            <li class="pd-mega-menu-nav-item pd-mega-menu-nav-item-btn">
                                <a href="#" name="anchor">
                                    <span>
                                        <svg class="pd-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#c5247f">
                                            <path d="M220-130v-650h323.84l16 80H780v360H536.16l-16-80H280v290h-60Zm280-430Zm86 160h134v-240H510l-16-80H280v240h290l16 80Z"/>
                                        </svg>
                                    </span>
                                    Get Started
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>